site_name: REAL Tutor
site_url: https://REALTutor-EducConsulting.github.io/REALTutor/
nav:
  - Home: index.md
  - About: about.md
  - Pricing: pricing.md
  - Contact: contact.md

theme:
  name: material
  language: ja
  palette:
    - scheme: default
      primary: deep purple
      accent: purple
